* {
  border-radius: 0 !important;
}

body {
  padding-top: 10px;
  background-image: url("../images/graph.png");
  font-size: 14px;
  font-family: 'Share Tech Mono', monospace;
  color: #000;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border-bottom: solid grey 2px;
  height: 50px;
  line-height: 50px;
}

h2 {
  margin-top: 0px;
  font-size: 18px;
}

p {
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  margin: 4px 0 2px 0;
}

button {
  width: 100px;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  padding: 0px;
}

.row {
  margin: 0;
  margin-bottom: 5px;
  width: 100%;
}

#cat_container {
  margin: 0;
}

.gen-col {
  padding: 0 5px 0 5px;
}

#title_row {
  height: 50px;
  margin: 0 5px 5px 5px;
}

#title {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: left;
  padding: 0;
}

.cat-box {
  height: 50px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 46px;
  font-size: 16px;
}

#money_container {
  padding: 0 10px 0 0;
}

.money-box {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  border: solid #46D301 2px;
  background-color: lightgrey;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #46D301;
}

#dollar_sign {
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}

#money {
  margin-right: 5px;
  /*text-shadow: 0px 0px 2px black;*/
  font-weight: bold;
}

#cat_row {
  height: 50px;
}

#easy_row,
#med_row,
#hard_row,
#imp_row {
  height: 30px;
}

.sel-box {
  height: 30px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 26px;
  cursor: pointer; 
  cursor: hand;
}

.sel-img {
  height: 100%;
  width: auto;
  vertical-align: top;
}

.sel-hover:hover,
.ans-hover:hover {
  background-color: #FAFAD2;
}

#info_row,
#question_row {
  margin: 0 5px 5px 5px; 
  padding-right: 10px;
}

#info {
  background-color: lightgrey;
  border: solid grey 2px; 
  height: 30px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.red-box {
  height: 20px;
  width: 10.4%;
  background-color: #D30000;
  margin: 0 2px 0 2px;
}

 #trivia {
  background-color: lightgrey;
  border: solid grey 2px; 
  height: 80px;
  line-height: 76px;
  font-size: 26px;
  padding: 0 30px 0 30px;
} 

.ans-box,
.reset-box {
  height: 50px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 46px;
  cursor: pointer; 
  cursor: hand;
  font-size: 18px;
}

.reset-box {
	font-size: 20px;
	margin: 0 80px 5px 80px;
}

.reset-span {
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#cash_in {
	color: #46D301;
	border: solid #46D301 4px; 
	line-height: 42px;
}

.info-wrong {
	color: #D30000;
  font-weight: bold;
}

.info-correct {
	color: #46D301;
  font-weight: bold;
}

.blink {
  animation: blink-animation .5s step-end infinite alternate;
  -webkit-animation: blink-animation .5s step-end infinite alternate;
}
@keyframes blink-animation {
  50% {
    /*border-color: #46D301;*/
    border: solid #46D301 4px;
    line-height: 42px;
  }
}
@-webkit-keyframes blink-animation {
  50% {
    /*border-color: #46D301;*/
    border: solid #46D301 4px;
    line-height: 42px;
  }
}
