* {
  border-radius: 0 !important;
}

body {
  padding-top: 10px;
  background-image: url("../images/graph.png");
  font-size: 14px;
  font-family: 'Share Tech Mono', monospace;
  color: #000;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border-bottom: solid grey 2px;
  height: 50px;
  line-height: 50px;
}

h2 {
  margin-top: 0px;
  font-size: 18px;
}

p {
  font-size: 18px;
  margin: 10px 0 10px 0;
}

button {
  width: 100px;
  margin: auto;
}

.container {
  width: 600px;
  margin: auto;
  padding: 0px;
}

.row {
  margin: 0;
  margin-bottom: 5px;
  width: 100%;
}

#cat_container {
  margin: 0;
}

.gen-col {
  padding: 0 5px 0 5px;
}

#title_row {
  height: 50px;
  margin: 0 5px 5px 5px;
}

#title {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: left;
  padding: 0;
}

.cat-box {
  height: 50px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 50px;
  font-size: 16px;
}

#money_container {
  padding: 0 10px 0 0;
}

.money-box {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  border: solid #46D301 2px;
  background-color: lightgrey;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #46D301;
}

#dollar_sign {
  margin-left: 5px;
  font-size: 30px;
  font-weight: bold;
}

#money {
  margin-right: 5px;
}

#cat_row {
  height: 50px;
}

#easy_row,
#med_row,
#hard_row,
#imp_row {
  height: 30px;
}

.sel-box {
  height: 30px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 26px;
  cursor: pointer; 
  cursor: hand;
}

.sel-img {
  height: 100%;
  width: auto;
  vertical-align: top;
}

.sel-hover:hover,
.ans-hover:hover {
  background-color: #FAFAD2;
}

#info_row,
#question_row {
  margin: 0 5px 5px 5px; 
  padding-right: 10px;
}

#info {
  background-color: lightgrey;
  border: solid grey 2px; 
  height: 30px;
  line-height: 26px;  
}

 #trivia {
  background-color: lightgrey;
  border: solid grey 2px; 
  height: 80px;
  line-height: 76px;
  font-size: 26px;
  padding: 0 20px 0 20px;
} 

.ans-box {
  height: 50px;
  background-color: lightgrey;
  border: solid grey 2px; 
  line-height: 46px;
  cursor: pointer; 
  cursor: hand;
  font-size: 18px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
